{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='curso_detalhes.css') }}">
{% endblock %}

{% block content %}

<div class="containe">
    <a href="{{ url_for('index') }}"
        style="display: inline-block; margin-bottom: 20px; color: #007BFF; text-decoration: none;">← Voltar para os
        cursos</a>

    <h1>{{ curso.nome }}</h1>
    <p class="descricao">{{ curso.descricao }}</p>
    <p class="carga-horaria">Carga horária: {{ curso.carga_horaria }} horas</p>

    <form action="{{ url_for('inscrever', curso_id=curso.id, user_id=session['usuario_id'] ) }}" method="post">
        <button type="submit" class="btn-inscrever">Inscrever-se</button>
    </form>
</div>  

{% endblock %}